html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #fdcc52;
  -webkit-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}


section.registration {
  padding-top: 7rem;
  height: 93vh;
  color: #000;
  background: #fff;
}
section.registration h1{
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  font-size: 7.5vh;
}
section.registration label{
  text-transform: uppercase;
}

section.registration input{
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1px;
  /*text-transform: uppercase;*/
}

header.masthead .header-content h1 {
  
}

@media (max-width: 575.98px) { 
 
}

@media (min-width: 576px) and (max-width: 767.98px) {
  
}


footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}


.btn-outline-black {
  color: black;
  border: 1px solid;
  border-color: black;
}

.btn-outline-black:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #fdcc52;
  background-color: #fdcc52;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 1.5rem;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}
